@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6ff;
  --main-color: #ffffff;
  --secondary-color: purple;
  --warn-color: #ff0000;
  --main-text-color: black;
  --secondary-text-color: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6ff;
    --main-color: white;
    --secondary-color: purple;
    --warn-color: red;
    --main-text-color: black;
    --secondary-text-color: gray;
  }
}

body {
  color: var(--main-text-color);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}